[MASTER]

ignore-paths=src/tests
ignore=single_file_to_ignore.py

[MESSAGE CONTROL]

disable=raw-checker-failed,
        bad-inline-option,
        locally-disabled,
        file-ignored,
        suppressed-message,
        useless-suppression,
        deprecated-pragma,
        use-symbolic-message-instead,
        missing-module-docstring,
        missing-function-docstring,
        missing-class-docstring,
        too-few-public-methods

[FORMAT]
max-line-length=200
indent-after-paren=4


[REFACTORING]
max-nested-blocks=2

[DESIGN]
max-statements=10
max-args=10
max-attributes=10



